#title{
    background-color:#EBE3D5 ;
    
}

#third{
    text-align: center;
    margin: 20px
}

#interests{
    margin:20px;
}
*{
 color:#776B5D ;
 font-family: 'Delicious Handrawn', cursive;
 font-family: 'Montserrat', sans-serif;
}
